/* Réinitialisation des marges et des paddings par défaut */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Style général du body */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

/* Style de l'en-tête */
header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
}

header h1 {
    margin: 0;
}

/* Style pour les titres h2 */
h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}

/* Style pour les formulaires */
form {
    background-color: white;
    padding: 20px;
    margin: 20px auto;
    border-radius: 10px;
    width: 80%;
    max-width: 600px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Style des labels */
label {
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
    color: #333;
}

/* Style des inputs et des selects */
input[type="text"], input[type="password"], select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    color: #333;
}

input[type="text"]:focus, input[type="password"]:focus, select:focus {
    border-color: #0056b3;
    outline: none;
}

/* Style des boutons */
button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
}

button:hover {
    background-color: #0056b3;
}

/* Footer */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: absolute;
    width: 100%;
    bottom: 0;
}

/* Section de la page */
section {
    margin: 20px 0;
}

footer p {
    margin: 0;
}

/* Marges pour les titres de sections */
h2 + form {
    margin-top: 10px;
}
